/* ***********************************************************
GENERAL
************************************************************ */
.wrapper {
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: 'Open Sans';
}
h1 {
  color: #F53563;
}
p {
  font-weight: 300;
}
.contact-button, .contact-button-send, .button-to-barre {
  border: .5px solid #F53563;
  color: #F53563;
  padding: 1em;
  /*border-radius: 20px;*/
  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  -moz-transition-property: all;
  -moz-transition-duration: .5s;
  -o-transition-property: all;
  -o-transition-duration: .5s;
}
.contact-button:hover, .contact-button:focus, .contact-button-send:hover,
.contact-button-send:focus, .button-to-barre:hover, .button-to-barre:focus {
  color: white;
  background-color: #F53563;
  border-color: #F53563;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.25);
}
img.contact-image {
  display: block;
  margin: 0 auto;
}
.contact > p {
  color: #596377;
  margin-top: 10px;
}

/* ***********************************************************
NAV MOBILE
************************************************************ */
/*.nav-mobile {
  display: none;
}
.nav-mobile-logo {
  text-align: center;
  list-style: none;
  margin: 0;
}
.nav-mobile-logo li {
  display: inline;
  margin: 1.5em;
  border: 1px solid #333;
}
.nav-mobile-logo a {
  color: #F53563;
  padding: .5em;
  text-align: center;
}*/
/* ***********************************************************
NAV DESKTOP
************************************************************ */
nav.nav-desktop, .top-bar ul, .menu, .top-bar-right a{
  /*background-color: #333C4E;*/
  color: #F53563;
  height: 80px;
  padding: 0;
  margin: 0;
}
nav.top-bar {
  margin: 0 !important;
}
nav ul {
  list-style-type: none;
}
ul > a {
  line-height: 80px;
}
.nav-logo {
  height:40px;
}
.nav-logo-name {
  margin-left: 15px;
  font-family:'Lily Script One', cursive;
  font-size: 20px;
  color: #F53563;
}
.menu > li > a{
  color: #F53563;
  display: inline-block;
  line-height: 80px;
  padding: 0px 10px;
  text-transform: uppercase;
}

.menu > li > a:hover {
  color: #F53563;
}
nav.top-bar, nav.nav-desktop {
  width: 100%;
}
.top-bar, .top-bar ul {
  background-color: transparent;
}
.top-bar-left > ul > li > a {
  line-height: 80px;
}

div.sticky-container {
  height: initial !important;
  z-index: 999999;
}

/* ***********************************************************
HERO
************************************************************ */
.hero {
  padding: 0px 0px 80px 0px;
}
.orbit-bullets button {
  background-color: #333C4E;
}
.orbit-bullets button.is-active {
  background-color: #F53563;
}
.orbit-bullets button:hover {
  background-color: #666F81;
}
button.orbit-next:hover, button.orbit-next:focus, button.orbit-next:active {
  background-color: transparent;
}
button.orbit-previous:hover, button.orbit-previous:focus, button.orbit-previous:active {
  background-color: transparent;
}
ul.orbit-container {
  height: initial !important;
}


/* ***********************************************************
MAIN
************************************************************ */
.main {
  margin-bottom: 5vh;  
}
.main h1 {
  text-transform: uppercase;
  font-size: medium;
}

/* ***********************************************************
BARRE PAGE
************************************************************ */
.barre {
  margin-top: 3em;
}
.barre-contact{
  height: 90px;
}
.align-right {
  text-align: right;
}
.show-on-mobile {
  display: none;
}
/* ***********************************************************
CONTACT PAGE
************************************************************ */
input {
  width: 100%;
  height: 2.5em;
  border: 1px solid #D4D9E2;
  border-radius: 3px;
  color: #596377;
  margin-bottom: 1em;
  outline: 0;
  padding: 1em;
}
textarea {
  height: 5em;
}
input:focus, textarea:focus {
  border-color: #8C96A9;
}
label {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  color: #333C4E;
  letter-spacing: 1px;
  margin-bottom: .5em;
}
.contact > h1 {
  font-size: 2em;
}
.contact {
  margin: 2em 0 2em 0;
  text-align: center;
}
.contact i {
  font-size: 2em;
}
.contact-row {
  margin-top: 2em;
  margin-bottom: 5em;
}
/* ***********************************************************
FOOTER
************************************************************ */
footer {
  padding: 50px 0px;
  background-color: #333C4E;
  color: white;
  text-align: center;
}

.footer {
  font-size: 1.5rem;
  padding: 80px 0;
}
.footer-icons i {
  border: 1.5px solid rgba(255,255,255, 0.5);
  border-radius: 50%;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.3rem;
  vertical-align: middle;
}
.footer-icons i:hover {
  color: #F53563;
}
.footer-icons p {
  margin: 0 auto;
}
.copy-right {
  margin: 5px 0 5px 0;
}
.footer-link {
  color: white;
  border-bottom: 1px solid white;
}
.footer-link:hover, .footer-link:active {
  color: #F53563;
}

/* ***********************************************************
MEDIA QUERIES
************************************************************ */

@media (max-width: 639px) {
  .top-bar-left, .top-bar-right {
    width: auto !important;
  }
  nav {
    height:50px;
  }
  .nav-logo-name {
    display: none;
  }
  .hero {
    padding: 0px;
  }
  form {
    margin-top: 1em;
  }
  .contact-image {
    display: none !important;
  }
  .show-on-mobile {
    display: block; 
  }
  .hide-on-mobile {
    display: none;
  }
}

