/* ***********************************************************
GENERAL
************************************************************ */
.wrapper {
  width: 90%;
  margin: 0 auto;
}
h1 {
  color: #F53563;
}




/* ***********************************************************
Navigation
************************************************************ */
nav.top-bar, .top-bar ul, .menu, .top-bar-right a{
  background-color: #333C4E;
  color: #F53563;
}









/* ***********************************************************
HERO
************************************************************ */
.hero {
  padding: 80px 0px;
}







/* ***********************************************************
MAIN
************************************************************ */
.main {
  padding: 80px 0px;
}









/* ***********************************************************
FOOTER
************************************************************ */
footer {
  padding: 80px 0px;
}
footer a {
  display: block;
}